<div class="sticky-top header-info text-white">
  <div class="flex flex-row justify-content-between w-full px-2 pt-1 frostedNav">
    <h1 style="font-size: 1rem" class="pt-1 text-left">LUKA KRSTIKJ</h1>
    <h1 style="font-size: 1rem" class="pt-1 text-right">TW {{this.counter}}</h1>
  </div>
  <div class="flex flex-row navbarContainer text-white justify-content-evenly frostedNav border-t-2 border-white flex-sm-shrink-1">
    <div routerLinkActive="active" routerLink="/home" class="flex flex-row flex-wrap basis-1/4 border-b-2 border-r-2 border-white justify-content-center py-2">
      <a class="hyperlinkNav">HOME</a>
      <div class="flex flex-row navLight">
       <div class="line"></div>
        <img [src]="router.url === '/home' ? '../../assets/Btn.jpg' : '../../assets/Btn-2.jpg'">
      </div>
    </div>
    <div routerLinkActive="active" routerLink="/dev" class="flex flex-row flex-wrap basis-1/4 border-b-2 border-r-2 border-white justify-content-center py-2">
      <a class="hyperlinkNav w-fit">DEV</a>
      <div class="flex flex-row w-fit navLight">
        <div class="line"></div>
        <img [src]="router.url === '/dev' ? '../../assets/Btn.jpg' : '../../assets/Btn-2.jpg'">
      </div>
    </div>
    <div routerLinkActive="active" routerLink="/art" class="flex flex-row flex-wrap basis-1/4 border-b-2 border-r-2 border-white justify-content-center py-2">
      <a class="hyperlinkNav">ART</a>
      <div class="flex flex-row navLight">
        <div class="line"></div>
        <img [src]="router.url === '/art' ? '../../assets/Btn.jpg' : '../../assets/Btn-2.jpg'">
      </div>
    </div>
    <div routerLinkActive="active" routerLink="/about-me" class="flex flex-row flex-wrap basis-1/4 border-b-2 border-white justify-content-center py-2">
      <a class="hyperlinkNav">CONTACT</a>
      <div class="flex flex-row navLight">
        <div class="line"></div>
        <img [src]="router.url === '/about-me' ? '../../assets/Btn.jpg' : '../../assets/Btn-2.jpg'">
      </div>
    </div>
  </div>
</div>


