img{
  height: 1.3rem;
  border: solid white 2px;
  align-self: center;
}

.hyperlinkNav{
  transition: color 0.8s;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  align-self: center;
}

.hyperlinkNav:hover {
  color: #2d966b;
  text-decoration: none;
  transition: color 0.4s;
}

.line {
  height: 2px;
  width: 30px;
  background-color: white;
  align-self: center;
}

.btnNav {
  padding: 2px;
}

.navbarContainer {
  overflow: hidden;
}
