<!--Contact Info-->
<div class="container mt-1 flex-lg-shrink-2" style="width: 95%; position: relative;">

  <div class="frosted my-8 mx-auto px-0 user-select-none">
    <img src="../../assets/pfpN.jpg" style="width: 8rem; height: auto; border-radius: 50%; box-shadow: 0.2rem 0.2rem 0.2rem rgba(21,21,21,0.1);" class="row h100 mx-auto mb-4 mt-1">
    <div class="row">
      <h3 class="header-info-italic text-center mx-auto">Luka Krstikj</h3>
    </div>
    <div class="row">
      <h5 class="header-info-italic text-center mx-auto w-75 mt-3">A 20 year old photographer
        and graphic designer from Macedonia, currently studying at the Faculty of Computer Science & Engineering in Skopje.</h5>
    </div>
    <div class="row">
      <h4 class="header-info-b text-center mx-auto mb-3">. . .</h4>
    </div>
    <div class="row">
      <h3 class="header-info-b text-center mx-auto">Contact</h3>
    </div>
    <div class="flex flex-row">
      <a href="https://www.instagram.com/lukakrstik/" target="_blank" style="text-decoration: none;" class="basis-1/3 border-r-2 border-t-2 border-krstic p-4 contactBtn">
        <h4 class="header-info-italic text-center mx-auto mb-0">Instagram</h4>
      </a>
      <a href="https://www.github.com/lukakrstik/" target="_blank" style="text-decoration: none;" class="basis-1/3 border-r-2 border-t-2 border-krstic p-4 contactBtn">
        <h4 class="header-info-italic text-center mx-auto mb-0">Github</h4>
      </a>
      <a href="mailto:luka.krstik@outlook.com" target="_blank" style="text-decoration: none;" class="basis-1/3 border-t-2 border-krstic p-4 contactBtn">
        <h4 class="header-info-italic text-center mx-auto mb-0">Email</h4>
      </a>
    </div>
  </div>
</div>
