<!--Contact Info-->
<div class="container mt-1 flex-lg-shrink-2" style="width: 100%; position: relative;">

  <div class="frosted my-5">
    <img src="../../assets/pfp.png" style="width: 8rem; height: auto;" class="row h100 mx-auto mb-4 mt-1 rounded">
    <div class="row">
      <h1 class="header-info-b text-center mx-auto">Luka Krstikj</h1>
    </div>
    <div class="row">
      <h1 class="header-info-italic text-center mx-auto w-75 mt-3">A 19 year old amateur photographer
        and graphic designer from Macedonia, currently studying at the Faculty of Computer Science & Engineering in Skopje.</h1>
    </div>
    <div class="row">
      <h1 class="header-info-b text-center mx-auto mb-3">. . .</h1>
    </div>
    <div class="row">
      <h1 class="header-info-b text-center mx-auto">Contact</h1>
    </div>
    <ul class="text-center" style="list-style-type: none;">
      <li class="">
        <a href="https://www.instagram.com/lukakrstik/" class="header-info-italic hyperlink" target="_blank">Instagram: @lukakrstik</a>
      </li>
      <li class="mt-1">
        <a href="mailto:luka.krstik@outlook.com" class="header-info-italic hyperlink" target="_blank">Email: luka.krstik@outlook.com</a>
      </li>
    </ul>

  </div>
</div>
