<div class="container-fluid my-3 p-0">
    <h1 class="header-info-upload text-center w-50 mx-auto user-select-none">All Photos</h1>

  <div class="gap-0 sm:columns-1 md:columns-2 lg:columns-3">
      <div *ngFor="let image of allphotos" class="user-select-none md:px-2 sm:px-4 py-2" style="border: none; background-color: rgba(255,255,255,0); display: inline-block; height: auto; vertical-align: middle;">
        <img class="card-img border-2 border-krstic" [src]="image.tlink" (click)="displayFull(image.olink)" alt="Error Loading Photo" style="background-color: rgba(255,255,255,0);">
      </div>
  </div>

  <div (click)="closeDisplay($event)" id="cover" style="display:none; position:fixed; top:10%; bottom:0; left:0; right:0; background: rgba(255,255,255,0.9);">
    <img style="max-height: 80vh; max-width: 80vw; margin: auto" src="{{linkce}}" class="border-8 border-krstic">
  </div>
</div>
