<div class="container-fluid fullpage mx-0 pt-8 titleWdesc">
  <div class="flex-row flex flex-wrap justify-content-evenly mb-8 px-0 lg:mx-4" *ngFor=" let project of allprojects">
    <div class="flex flex-column justify-content-center mb-4 basis-full lg:basis-1/2 pr-2 shrink-0 grow-0 flex-wrap">
      <div class="flex flex-row flex-wrap border-2 border-white w-fit">
        <div>
          <h2 class="flex flex-column justify-content-center w-fit text-white pt-2 px-2">{{project.name}}</h2>
        </div>
        <div class="bg-white flex flex-column justify-content-center">
          <h3 class="text-krstic w-fit px-2 text-center align-self-center pt-2">{{project.date}}</h3>
        </div>
      </div>
      <h5 class="text-white text-wrap my-4 w-full lg:w-50">{{project.desc}}</h5>
      <a [href]="project.gitlink" class="text-decoration-none text-krstic">
      <div class="flex flex-row w-fit h-[44px]">
        <h4 class="bg-white h-full px-2 pt-[9px]">Github</h4>
        <div class="h-[44px] w-[44px] border-2 border-white border-l-0"><img src="assets/github.png" class=""></div>
      </div>
      </a>
    </div>
    <img class="border-2 border-white basis-full lg:basis-1/2 shrink-0 w-auto h-full" [src]="project.img">
  </div>
</div>
