.menu:nth-child(even) {
  background-color: #171717;
}

.menu:nth-child(odd) {
  background-color: #212121;
}

.menu:hover {
  border-radius: 5rem !important;
  color: #ff5b5b;
  transition: all 0.2s ease-in;
}

.menu {
  margin-bottom: 0 !important;
  transition: all 0.2s ease-out;
  width: 240px;
}

.backColor {

}
