<div class="w-full">
  <div class="flex flex-row flex-wrap shrink-0 wrap-1 border-white border-b-2">
    <div class="flex flex-column basis-full md:basis-1/2 border-r-2 textBox border-white no-wrap justify-content-center">
      <div class="flex flex-column text-white m-8">
        <h1 class="display-3 header-info-SK pb-2 border-b-2 border-white">Digital Fog.</h1>
        <p class="mt-2 descText text-white">An ongoing project and driving force in my photographic journey.
          Being a collection of images that portray the closest representation of my ideas and dreams.
          Pictures taken of the rollecoaster that is life, trough happiness and trough sadness,
          trough laughter and trough out tears. Besides the emotional inspiration,
          in the past year and counting i have gathered a serious throwback to the past utilising mostly old digital cameras.
        </p>
      </div>
    </div>
    <div class="basis-full md:basis-1/2 border-white bg-black mx-auto shrink-0 overflow-hidden">
      <video autoplay loop class="shrink-0 mx-auto w-100 h-[550px]">
        <source src="../../assets/synthC.mp4">
      </video>
    </div>
  </div>
  <div class="flex flex-column text-center p-2 bg-white">
    <h1 class="mx-auto display-5 header-info-upload text-krstic ">The Process.</h1>
    <p class="mt-2 descText text-krstic">Make the most out of old cameras. Embrace every imperfection. Corrupt image while still recognizable.</p>
    <p class="mt-4 descText text-krstic">Scroll to see the gallery...</p>
  </div>

</div>
