<div class="container-fluid my-3 mx-0 px-0">
  <h1 class="header-info-upload text-center py-4 mx-auto user-select-none">Featured Photos</h1>

  <div id="image" class="mb-5" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div *ngFor="let image of featured" class="card my-3 col-sm-6 col-lg-4 px-2 user-select-none" style="border: none; background-color: rgba(255,255,255,0); display: inline;">
        <img class="card-img" [src]="image.tlink" alt="Error Loading Photo" style="background-color: rgba(255,255,255,0);">
      </div>
  </div>
</div>
