<div class="container-fluid fullpage mx-0 pt-0 flex flex-row flex-wrap justify-content-evenly titleWdesc">

  <div style="align-self: center" class="text-white py-8">
    <h2 class="text-white w-fit p-2 border-b-2 border-l-2 border-white mb-8">46414C41</h2>
    <h1 class="text-5xl">[HOMEPAGE]</h1>
    <p>50686F746F2050686F746F2050686<br>F746F204164642050686F746F</p>
    <div class="flex flex-row">
      <h2 routerLinkActive="active" routerLink="/Gallery" class="text-krstic bg-white w-fit border-white p-2 mt-8">Exit? -></h2>

    </div>
  </div>
  <div class="line"></div>
  <div class="position-relative w-fit gifContainer border-2 border-white my-4 align-self-center flex flex-column">
    <h5 class="frostedDash  m-32 md:m-64 p-4 text-white border-white">No Remarks</h5>
  </div>
</div>
